body {
  font-family: 'Trebuchet MS', sans-serif;
}

header {
  background-color: #ffd683;
  color: #c40900;
  padding: 20px;
  margin: 20px;
  font-size: 1.6em;
  border-radius: 20px;
}

header h1, p, nav {
  margin-left: 20px;
}

input {
  display: block;
  margin-bottom: 20px;
}

.invisible {
  display: none;
}

.visible {
    display: block;
    top: 2000px;
    left: 30px;
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    color: #ffffff;
    background-color: #c40900;
    -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

article {
  display: block;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
}

img {
  display: block;
  padding: 20px;
  margin: auto;
}

form {
  padding: 20px;
  margin-left: 70px;
}

form p {
  margin-top: 100px;
  margin-left: -10px;
  font-size: 1.3em;
}

form input {
  background-color: transparent;
  padding: 10px;
  border: 3px solid #009900;
  font-size: 1em;
  margin-left: 60px;
}

#submit {
  margin-top: 150px;
  -webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
  padding: 20px;
  font-size: 1.2em;
  justify-content: center;
}

#submit:hover {
  background-color: #009900; /* Green */
  color: #ffffff;
}

p {
  line-height: 1.5em;
  font-size: 1em;
}

nav {
  margin-bottom: 50px;
  margin-top: 50px;
}

nav a {
  font-size: 0.8em;
  background-color: #ffffff;
  color: #c40900;
  text-decoration: none;
  padding: 15px;
  margin-left: -2px;
  -webkit-transition-duration: 0.4s;
transition-duration: 0.4s;
border-radius: 10px;
}

nav a:hover {
  background-color: #c40900; /* Green */
  color: #ffffff;
}

#color {
  background-color: #ffd683;
  padding: 50px 50px 50px 0px;
  border-radius: 20px;
  margin-left: 50px;
}

#img {
  margin-top: 120px;
  margin-left: -30px;
}

#caution {
  color: #c40900;
  font-size: 1.5em;
  margin: 0 0 30px 100px;
}
